<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net48" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net48" />
  <package id="DotSpatial.Data" version="1.9" targetFramework="net48" />
  <package id="DotSpatial.Mono" version="1.9" targetFramework="net48" />
  <package id="DotSpatial.Projections" version="1.9" targetFramework="net48" />
  <package id="DotSpatial.Serialization" version="1.9" targetFramework="net48" />
  <package id="DotSpatial.Topology" version="1.9" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net48" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net48" />
</packages>